.cantidad{
    font-size: 26px;
    font-weight: bold;
    color: #000;

}
.CardItem{
    width: 75%;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-wrap: wrap;
}
.CardItem2{
    width: 75%;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
    margin-top: 25px;
}
.price{
    font-size: 26px;
    font-weight: 500;
    color: var(--color-price);
}
.CardTitle{
    font-size: 26px;
    font-weight: 300;
    color: var( --color-text);
}
.card-img{
    width: 50%;
    
}
.CardImg{
    width: 60%;
    margin: auto;

}