:root{
 --color-price: #EFBC75;
 --color-text:#718163;
 --color-text-dark: #148D8D;
 --color-text-dark2: #1A4A5A;
 --color-text-dark3: #0E2C40 ;
 --font-text: 'Rajdhani', sans-serif;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.btn-primary{
  margin-top: 15px;
  margin-bottom: 15px;
}
.BTN{
  margin: 28px 0 0 0;
  width: 130px;
  display: inline-block;
  background: #1fde82;
  text-align: center;
  color: #fff;
  padding: 12px 0;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}
.BTN:hover{
  color: #fff;
}
.CartWidget{
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
}

.card-img-top{
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 2px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
